code-server
docker
k8s
.venv
assets
.git
README.md
__pycache__
.vscode
.git
.gitignore
.env
.venv
dev-in-docker
dev
dist
webpack-stats.json
LICENSE
build
node_modules
static/dist
tmp
*.gitlab-ci.yml
backup.sh
yarn-error.log
README.md
k8s